@import "../../../../../scss/variable";
@import "../../../../../scss/mixins";
.status {
  @include fontPhilosopher();
  font-size: 1.1em;
  color: $black;
  padding-bottom: 10px;
  &__p {
    text-indent: 10px;
  }
}
