@import "../../../../scss/variable";
.profile {
  flex-grow: 1;
  padding: 10px 20px;
  color: #802818;
  display: flex;
  flex-direction: column;
  &__photoAndInfo {
    padding: 10px 0;
    display: flex;
  }
}
